:root {
    --led-screen-background-image-none: none;
    --led-screen-background-image: url("ressources/led_screen.jpg");
    /* green theme */
    --led-screen-background-color: linear-gradient(to bottom right, rgb(156, 151, 21), rgba(0, 0, 0, 0.6));
    --led-screen-text-color: rgba(0, 0, 0, 0.4);
    /* white theme */
    /*--led-screen-background-color: linear-gradient(to bottom right, rgba(207, 207, 207, 0.4), rgba(113, 113, 113, 0.3));
    --led-screen-text-color: rgba(255, 255, 255, 0.8);*/
}
@font-face {
    font-family: "Lcd1";
    src: url("ressources/fonts/lcd1.ttf") format("truetype");
}
@font-face {
    font-family: "Lcd2";
    src: url("ressources/fonts/lcd2.ttf") format("truetype");
}

#screen {
    width: 500px;
    height: 270px;
    font-family: "Lcd2";
    color: var(--led-screen-text-color);
    font-size: 3em;    /* differs by font */
    border: solid 10px rgb(191, 8, 8);
}
.led-background-image {
    width: 100%;
    height: 100%;
    background-image: var(--led-screen-background-image-none);
    background-size: 50%;
    background-repeat: repeat;
}
.led-background-color {
    width: 100%;
    height: 100%;
    background-image: var(--led-screen-background-color);
}
.porkemonSprite {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.porkemonSprite img {
    height: 100%;
    filter: opacity(50%) grayscale(100%);
    /* filter: saturate(0%) opacity(50%); */
}

#top-screen-body, #bottom-screen-body {
    width: 90%;
    height: 90%;
    padding: 2.5% 5%;
}
#bottom-screen-body { overflow: hidden scroll; }
#bottom-screen-body::-webkit-scrollbar { background-color: transparent; }
#bottom-screen-body::-webkit-scrollbar-thumb { background-color: transparent; }
#bottom-screen-body ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0 !important;
}
#bottom-screen-body ul li:hover, .hover {
    background-color: var(--led-screen-text-color);
    color: rgb(156, 151, 21);
}